XML/Beispiele/Button1.xml

  <?xml version="1.0" ?> 
  <!-- W3C Schema generated by Defined Systems TXmlSchemaWriter v0.014 (http://xml.defined.net)  --> 
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:target="http://xml.definedsys.com/schema/" targetNamespace="http://xml.definedsys.com/schema/" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="TObject">
  <xs:sequence>
  <xs:element name="TObject" type="target:TObject" minOccurs="0" maxOccurs="unbounded" /> 
  </xs:sequence>
  <xs:attribute name="order" type="xs:positiveInteger" /> 
  <xs:attribute name="flags" type="xs:string" /> 
  <xs:attribute name="id" type="xs:ID" /> 
  </xs:complexType>
  <xs:complexType name="TPersistent">
  <xs:complexContent>
  <xs:extension base="target:TObject">
  <xs:sequence /> 
  </xs:extension>
  </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TComponent">
  <xs:complexContent>
  <xs:extension base="target:TPersistent">
  <xs:sequence>
  <xs:element name="Tag" type="xs:int" minOccurs="0" /> 
  <xs:element name="Left" type="xs:integer" minOccurs="0" /> 
  <xs:element name="Top" type="xs:integer" minOccurs="0" /> 
  </xs:sequence>
  </xs:extension>
  </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TControl">
  <xs:complexContent>
  <xs:extension base="target:TComponent">
  <xs:sequence>
  <xs:element name="Width" type="xs:int" minOccurs="0" /> 
  <xs:element name="Height" type="xs:int" minOccurs="0" /> 
  <xs:element name="Cursor" type="xs:short" minOccurs="0" /> 
  <xs:element name="Hint" type="xs:string" minOccurs="0" /> 
  <xs:element name="IsControl" type="xs:boolean" minOccurs="0" /> 
  </xs:sequence>
  </xs:extension>
  </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TWinControl">
  <xs:complexContent>
  <xs:extension base="target:TControl">
  <xs:sequence>
  <xs:element name="HelpContext" type="xs:int" minOccurs="0" /> 
  </xs:sequence>
  </xs:extension>
  </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TButtonControl">
  <xs:complexContent>
  <xs:extension base="target:TWinControl">
  <xs:sequence /> 
  </xs:extension>
  </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TDragKind">
  <xs:restriction base="xs:string">
  <xs:enumeration value="dkDrag" /> 
  <xs:enumeration value="dkDock" /> 
  </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TDragMode">
  <xs:restriction base="xs:string">
  <xs:enumeration value="dmManual" /> 
  <xs:enumeration value="dmAutomatic" /> 
  </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TButton">
  <xs:complexContent>
  <xs:extension base="target:TButtonControl">
  <xs:sequence>
  <xs:element name="Action" type="xs:string" minOccurs="0" /> 
  <xs:element name="Cancel" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="Caption" type="xs:string" minOccurs="0" /> 
  <xs:element name="Constraints.MaxHeight" type="xs:unsignedInt" minOccurs="0" /> 
  <xs:element name="Constraints.MaxWidth" type="xs:unsignedInt" minOccurs="0" /> 
  <xs:element name="Constraints.MinHeight" type="xs:unsignedInt" minOccurs="0" /> 
  <xs:element name="Constraints.MinWidth" type="xs:unsignedInt" minOccurs="0" /> 
  <xs:element name="Default" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="DragCursor" type="xs:short" minOccurs="0" /> 
  <xs:element name="DragKind" type="target:TDragKind" minOccurs="0" /> 
  <xs:element name="DragMode" type="target:TDragMode" minOccurs="0" /> 
  <xs:element name="Enabled" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="ModalResult" type="xs:int" minOccurs="0" /> 
  <xs:element name="ParentBiDiMode" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="ParentFont" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="ParentShowHint" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="PopupMenu" type="xs:string" minOccurs="0" /> 
  <xs:element name="TabOrder" type="xs:short" minOccurs="0" /> 
  <xs:element name="TabStop" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="Visible" type="xs:boolean" minOccurs="0" /> 
  <xs:element name="OnClick" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnContextPopup" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnDragDrop" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnDragOver" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnEndDock" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnEndDrag" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnEnter" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnExit" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnKeyDown" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnKeyPress" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnKeyUp" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnMouseDown" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnMouseMove" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnMouseUp" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnStartDock" type="xs:string" minOccurs="0" /> 
  <xs:element name="OnStartDrag" type="xs:string" minOccurs="0" /> 
  </xs:sequence>
  </xs:extension>
  </xs:complexContent>
  </xs:complexType>
  </xs:schema>